<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <!-- <link rel="stylesheet" href="/css/style.css"> -->

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <!-- Custom styles for this template -->
  <link href="/css/owl.carousel.css" rel="stylesheet">
  <link href="/css/owl.theme.default.min.css"  rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>
  <body id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top"><img src="/images/logo.png" alt="Sanza theme logo"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->

      </div>
      <!-- /.container-fluid -->
    </nav>
    <!-- Header -->

  <!-- <% results.forEach(function(result) { %>
    <div class="box">
      <ul>
        <li>Area ID: <%= result.areaId %></li>
        <li>Zip Code: <%= result.zipCode %></li>
        <li>City: <%= result.city %></li>
        <li>Current Water Level: <%= result.waterLevel %></li>
      </ul>
    </div>
  <% }); %> -->


		<header>
			<div class="container">
				<div class="slider-container">
					<div class="intro-text">
						<div class="intro-heading">Building smart, open infrasture to get the right data at the right time.</div>
						<a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
					</div>
				</div>
			</div>
		</header>
		<section id="about" class="dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>So what's the problem?</h2>
							<p>Norfolk faces several major problems in the coming years. Flooding and traffic are just a few that affect the community, government and society today and will continue to impact us all. To become a smart city we need smart acquisition. This means collecting the right data at the right time. Currently, connecting data aquisition devices to the internet requires wifi access or paid sim card service. This either limits the data we can collect or creates a financially unsustainable infrastructure.</p>
						</div>
					</div>
				</div>
      </section>
      <section class="light-bg">
        <div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Our Solution</h2>
							<p>Before we are able to solve the complex problems we face, we need to collect data from the real world, without human input. This means building a network of sensors that are strategically deployed and project focused.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-laptop ot-circle"></i>
							<h3>LoRa Modules</h3>
							<p>Inexpensive, long range low bandwidth communication modules operating in the 900mhz spectrum. Perfect for providing data.</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-globe ot-circle"></i>
							<h3>Mesh networks</h3>
							<p> These networks re-route information in case of inevitable hardware failure. In turn, this creates an incredibly redundant system using very few devices.</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-location-arrow ot-circle"></i>
							<h3>Citywide coverage</h3>
							<p>Unlike your typical wifi network, mesh networks increase in range with each additional device. Utilizing as little as 3 devices, coverage can span the entire city of Norfolk.</p>
						</div>
					</div>
					<!-- end about module -->
					<!-- about module -->
					<div class="col-md-3 text-center">
						<div class="mz-module-about">
							<i class="fa fa-database ot-circle"></i>
							<h3>Real-time data</h3>
							<p>Collecting quality real-time data is a key building block to obtaining reliable analytics. Garbage in = Garbage out.</p>
						</div>
					</div>
					<!-- end about module -->
				</div>
			</div>
			<!-- /.container -->
		</section>
    <section class="meter">
        <iframe src="https://app.initialstate.com/#/tiles/904ca603-e606-433e-b4ee-a6d1011764a7" height="500" width="100%"></iframe>
    </section>
    <section id="about" class="dark-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="section-title">
              <h2>But does it scale?</h2>
              <p>The Hampton Roads region is rich with higher education opportunities. We believe collaboration with local schools can return job-ready graduates with real world experience and assist in rapid device deployment while creating the necessary structure for goal oriented development.</p>
            </div>
          </div>
        </div>
      </section>

		<section class="audiences">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Who benefits?</h2>
							<p>Our data affects everyone!</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 text-center">
							<div class="item col-md-3">
								<div class="partner-logo"><img src="/images/school.png" alt="partners"><br />Schools</div>
							</div>
							<div class="item col-md-3">
								<div class="partner-logo"><img src="/images/government.png" alt="partners"><br />Local Government</div>
							</div>
							<div class="item col-md-3">
								<div class="partner-logo"><img src="/images/business.png" alt="partners"><br />Businesses</div>
							</div>
							<div class="item col-md-3">
								<div class="partner-logo"><img src="/images/medical.png" alt="partners"><br />Medical</div>
							</div>

					</div>
				</div>
			</div>
		</section>
		<section id="team" class="light-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-center">
						<div class="section-title">
							<h2>Our Team</h2>
						</div>
					</div>
				</div>
        <div class="row">
          <!-- team member item -->
          <div class="col-md-4 col-md-offset-2">
            <div class="team-item">
              <div class="team-image">
                <img src="/images/1.png" class="img-responsive" alt="author">
              </div>
              <div class="team-text">
                <h3>Sean Tolentino</h3>
                <div class="team-position">Developer / Strategist</div>
              </div>
            </div>
          </div>
          <!-- end team member item -->
          <!-- team member item -->
          <div class="col-md-4">
            <div class="team-item">
              <div class="team-image">
                <img src="/images/2.png" class="img-responsive" alt="author">
              </div>
              <div class="team-text">
                <h3>Emerson Garland</h3>
                <div class="team-position">IoT Expert / Strategist</div>
              </div>
            </div>
          </div>
          <!-- end team member item -->
        </div>
				<div class="row">
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="/images/3.png" class="img-responsive" alt="author">
							</div>
							<div class="team-text">
								<h3>Akosua Acheamponmaa</h3>
								<div class="team-position">Visualizations</div>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="/images/4.png" class="img-responsive" alt="author">
							</div>
							<div class="team-text">
								<h3>Wayne Muray</h3>
								<div class="team-position">Super Hype Man</div>
							</div>
						</div>
					</div>
					<!-- end team member item -->
					<!-- team member item -->
					<div class="col-md-4">
						<div class="team-item">
							<div class="team-image">
								<img src="/images/5.png" class="img-responsive" alt="author">
							</div>
							<div class="team-text">
								<h3>Joshua Strasshofer</h3>
								<div class="team-position">Designer</div>
							</div>
						</div>
					</div>
					<!-- end team member item -->
				</div>
			</div>
		</section>
		<p id="back-top">
			<a href="#top"><i class="fa fa-angle-up"></i></a>
		</p>
		<footer>
			<div class="container text-center">
				<p>Dano - Responsible for getting the right data at the right time.</p>
			</div>
		</footer>

		<!-- Modal for portfolio item 1 -->
		<div class="modal fade" id="Modal-1" tabindex="-1" role="dialog" aria-labelledby="Modal-label-1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-1">Dean & Letter</h4>
					</div>
					<div class="modal-body">
						<img src="/images/demo/portfolio-1.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 2 -->
		<div class="modal fade" id="Modal-2" tabindex="-1" role="dialog" aria-labelledby="Modal-label-2">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-2">Startup Framework</h4>
					</div>
					<div class="modal-body">
						<img src="/images/demo/portfolio-2.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 3 -->
		<div class="modal fade" id="Modal-3" tabindex="-1" role="dialog" aria-labelledby="Modal-label-3">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-3">Lamp & Velvet</h4>
					</div>
					<div class="modal-body">
						<img src="/images/demo/portfolio-3.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 4 -->
		<div class="modal fade" id="Modal-4" tabindex="-1" role="dialog" aria-labelledby="Modal-label-4">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-4">Smart Name</h4>
					</div>
					<div class="modal-body">
						<img src="/images/demo/portfolio-4.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<!-- Modal for portfolio item 5 -->
		<div class="modal fade" id="Modal-5" tabindex="-1" role="dialog" aria-labelledby="Modal-label-5">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="Modal-label-5">Fast People</h4>
					</div>
					<div class="modal-body">
						<img src="/images/demo/portfolio-5.jpg" alt="img01" class="img-responsive" />
						<div class="modal-works"><span>Branding</span><span>Web Design</span></div>
						<p>Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<script src="/js/owl.carousel.min.js"></script>
		<script src="/js/cbpAnimatedHeader.js"></script>
		<script src="/js/jquery.appear.js"></script>
		<script src="/js/SmoothScroll.min.js"></script>
		<script src="/js/mooz.themes.scripts.js"></script>
</body>
</html>
